
ol {
	padding: 5px;
}

	#center > div {
		margin-top:40px;
		padding: 10px 20px;
	}


#showNews {
	background-color: #e9ecef;
	border: 1px solid black;
	width: 100%;
	color: black;
	grid-row: 2/3;
	grid-column: 1/4;
}

	#showNews > p {
		color: orange;
	}


a {
	color: orange;
}


#mainDiv {
	grid-template-rows: 1fr auto;
}


