ol {
    padding: 5px;
}

#center {
    grid-column: 2/3;
    padding: 0px;
    grid-row: 1/2;
}



#menuContent ul {
    display: block;
    height: 40vh;
    list-style-type: none;
    margin: 0px;
    padding: 0px
}

#menuContent li {
    width: 100%;
}

#openMenuBtn {
    border: none;
    font-size: 35px;
    margin: 0 30px;
    background-color: transparent;
}


#menuContent {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    grid-column: 3/4;
    height: 90vh;
    width: 10vw;
}


#showNews {
    background-color: #e9ecef;
    border: 1px solid black;
    width: 100%;
    color: black;
}

    #showNews > p {
        color: orange;
    }

ol {
    list-style-type: none;
}

#showNews {
    background-color: yellow;
    width: 100%;
}

    #showNews > p {
        color: orange;
    }

a {
    color: orange;
}


#showNews {
    grid-row: 2/3;
    grid-column: 1/4;
}

#mainDiv {
    grid-template-rows: 1fr auto;
}

#fanClub, #menuContent {
    height: 100%
}

.newDiv {
    width: 100%;
    padding: 15px;
}

.newImg > img {
    border-radius: 25px;
    box-shadow: black 0px 0px 18px 8px;
    margin: 0 auto;
}

.newDescription {
    margin: 20px auto;
}

#showNews > hr {
    margin: 1rem auto;
    width: 10%;
    color: black;
    border: none;
    background-color: black;
    height: 1px
}

#showNews a, h4 {
    color: #eb861c;
    font-weight: bolder;
}




.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../Images/Bean Eater-0.9s-210px.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
