<<<<<<< HEAD
<<<<<<< HEAD
/*Search CSS */
/*.result {
=======
﻿/*Search CSS */
.result {
>>>>>>> parent of 3630ccc (Css and js)
=======
﻿/*Search CSS */
.result {
>>>>>>> parent of 3630ccc (Css and js)
	width: 80%;
	height: 50px;
	border: 1px solid white;
	float: left;
	text-align:left;
	position:relative
}

.result::after {
	position:absolute;
	height:100%;
	width:100%;
	background:black;
	opacity:0.7;
	content:""
}


div > img {
	height: 100%;
	width: 100%;
}

.chosen {
	background-color: aqua;
}



.imgResult {
	height: 300px;
	width: auto;
}




	.person .imgResult  {
		height:150px;

	}