body {
	/*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
	font-size: 18px;
	/*	font-family: 'Berlin Sans FB';*/
	color: white;
	margin: 0px;
	height:100vh;
	background: linear-gradient(to bottom right, #ffe200,#ff8500,#ff5600);
	background-size:cover;
	background-repeat:no-repeat
}

button:focus {
	outline: none;
}

h2, h3 {
/*	font-family: 'Berlin Sans FB';*/
	font-weight: 400;
}


div {
	text-align: center;
}


h1 {
/*	font-family: 'Showcard Gothic';*/
	color: white;
	-webkit-text-stroke: 2px black;
	text-shadow: 5px 5px 2px indianred;
}

div > img {
	height: 100%;
	width: 100%;
}


#mainDiv {
	display: grid;
	width: 100%;
	max-width: 100%;
	grid-template-columns: auto 1fr auto;
}

#fanClub {
	grid-column: 1/2;
	width: auto;
	background: rgba(0, 0, 0, 0.4);
	height:90vh
}

#center {
	grid-column: 2/3
}


.joinChatBtn {
	width: auto;
	height: fit-content;
	margin: 5px auto;
	padding: 5px;
}

#chatList p {
	margin: 5px auto;
	width: inherit;
}

#chatList li {
	grid-template-columns: 1fr auto;
	display: grid;
	border-top: 2px solid black;
	padding: 5px;
	list-style-type: none;
	font-size: 15px;
}



.leftScrollBtn, .rightScrollBtn {
	border: none;
	background: transparent;
}

	.leftScrollBtn:hover, .rightScrollBtn:hover {
		font-size: larger;
	}




/* Resigtration */
.red-star {
	font-size: 15px;
	color: darkred;
}


#welcomeDiv {
	color: white;
	text-align: left;
	padding-left: 10px;
	font-size: 20px;
}

/*

button, input[type=submit] {
    border: 2px solid black;
    font-family: 'Berlin Sans FB';
    font-size: 18px;
    margin: 15px auto;
    border-radius: 20px;
    color: black;
}*/

.menuBtn {
	width: 100%;
	font-weight: bold;
	background: transparent;
	border: none;
	margin-top: 15px;
}

    /*button:hover, input[type=submit]:hover {
        background-color: black;
        border: 1px solid white;
        color: white;
    }*/



#ph > img {
	padding: 10px
}

#tvShowName, #tvShows {
	height: 25px;
	width: 200px;
	border: 1px solid black;
	border-radius: 20px;
	padding: 0px 5px;
}

#tvShowName {
	width: 70%;
	border: 1px solid black;
	border-radius: 20px;
	padding: 0px 5px;
}


i {
	padding: 0px 2px;
}



	.form-group > label {
		float: left;
		text-align: left;
		margin-right: 10px;
		margin-left: 10%;
	}

	.form-group > input {
		width: 50%;
		border-radius: 15px;
		padding: 5px;
		font-size: 16px;
		float: right;
		margin-right: 10%;
	}


		.form-group > input[type=radio] {
			width: auto
		}

/*Modal CSS*/
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 40%; /* Could be more or less, depending on screen size */
	border-radius: 15px;
	color: white;
	background-color: black;
	opacity: 0.9;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}


/* nav-bar */
.nav {
	margin-top: 0px;
	display: grid;
	grid-template-columns: 20% 25% auto 10%;
	min-height: 10vh;
	background-color: black;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
	border-bottom: 2px solid white;
}


	.nav > button {
		font-size: 15px;
	}





.logo {
	/* text-align: left; */
	font-size: 25px;
	border-right: 2px solid white;
	cursor: pointer;
}

	.logo > i {
		margin: 10px;
	}


.hrefbtn {
	text-decoration: underline;
	cursor: pointer;
	color: indianred;
}



/* Cards */
.card {
	color: black;
	cursor: pointer;
}

.cardsOL {
	overflow-x: scroll;
	overflow-y: hidden;
	max-width: 90%;
	display: inline-flex;
	flex-direction: row;
	padding: 0px;
	list-style-type: none;
	margin: 30px 0;
}
.cardsOL > .card {
	height: 200px;
	min-width: 15%;
	margin: 0 3px;
	position: relative;
}


.cardsOL .card:hover::after {
	background-color: black;
	opacity: 0.5;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	visibility: visible;
	z-index: 1;
}


.card:hover .goToPage {
	visibility: visible;
}

.goToPage {
	width: 100%;
	visibility: hidden;
	margin: 0px auto;
	color: white;
	position: absolute;
	height: 100%;
	z-index: 2;
	margin-top: 0px
}

.card-body {
	position: absolute;
	width: 100%;
	bottom: 5px;
	padding: 0px
}

.actorCard > .card-body {
	bottom: auto;
	position: inherit;
}

.card > .card-img-top {
	height: 100%;
	max-width: 400px;
}

.center {
	grid-column:2/3
}


.cardsOL::-webkit-scrollbar {
	display: none;
}

/*menuCSS*/

#menuContent ul {
	display: block;
	height: 40vh;
	list-style-type: none;
	margin: 0px;
	padding: 0px
}

#menuContent li {
	width: 100%;
}

#openMenuBtn {
	border: none;
	font-size: 35px;
	margin: 0 30px;
	background-color: transparent;
}


#menuContent {
	display: none;
	background: rgba(0, 0, 0, 0.4);
	grid-column: 3/4;
	height: 90vh;
	width: 10vw;
}
