body {
    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-size: 18px;
    font-family: 'Berlin Sans FB';
    background-color: black;
    color: white;
    margin: 0px;
}


h2, h3 {
    font-family: 'Berlin Sans FB';
    font-weight: 400;
}

.red-star {
    font-size: 15px;
    color: darkred;
}

h1 {
    font-family: 'Showcard Gothic';
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 5px 5px 2px indianred;
}

div {
	text-align: center;
}

.chapterImg {
    border-radius: 20px;
}

#welcomeDiv {
    color: white;
    text-align: left;
    padding-left: 10px;
    border-left: 1px solid white;
}

    #welcomeDiv > h3 {
        margin: 0px auto;
    }

.episodeCard p {
    text-align: left;
}

button, input[type=submit] {
    border: 2px solid black;
    font-family: 'Berlin Sans FB';
    font-size: 18px;
    margin: 15px auto;
    border-radius: 20px;
    color: black;
}

    button:hover, input[type=submit]:hover {
        background-color: black;
        border: 1px solid white;
        color: white;
    }

.card {
    color: black;
}

/*#actors > .card {
    float: left;
    height: 300px;
    width:150px;
}*/

.card > img {
    height: 50%;
}

.episodeCard {
    width: 100%;
    height: auto;
    flex-direction: row;
    background-color: transparent;
}

    .episodeCard > div {
        float: left;
        height: 100%;
        margin: 15px;
    }

.info {
    width: 70%;
}

#ph > img {
    padding: 10px
}

 #tvShowName, #tvShows {
    height: 25px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0px 5px;
}

i {
    padding: 0px 2px;
}

.form-group {
    margin: 5px auto;
}

    .form-group > label {
        float: left;
        width: 50%;
        text-align: left;
    }

    .form-group > input {
        width: 40%;
        border-radius: 15px;
        padding: 5px;
        font-size: 16px;
    }


        .form-group > input[type=radio] {
            width: auto
        }

/*Modal CSS*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
    color: white;
    background-color: black;
    opacity: 0.9;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* nav-bar */
.nav {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 20% 1fr 1fr 15% 10%;
    min-height: 10vh;
    background-color: black;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid white;
}


    .nav > button {
        font-size: 15px;
    }

#logoutBtn, #loginBtn {
    margin-left: 0px;
}

#linkBtn, #registerBtn {
    margin-right: 0px;
}

#registerBtn {
    grid-column: 4/5;
}

.heart {
    background-color: transparent;
    color: white;
    border: none;
}

    /*heart*/
    .heart:hover {
        font-size: 25px;
        color: red;
        animation: beat .2s infinite alternate;
        transform-origin: center;
        border: none;
        background-color: transparent;
    }

        .heart:hover > i {
            animation: pulse 2s;
        }
/* Heart beat animation*/
@keyframes beat {
    to {
        transform: scale(1.4);
    }
}

.red-heart, .red-heart:hover {
    background-color: transparent;
    color: red;
    font-size: 25px;
    border: none;
}



@keyframes pulse {
    0% {
        color: white;
    }

    100% {
        color: #FF4136;
    }
}


.logo {
    /*    text-align: left;*/
    font-size: 20px;
}

    .logo > i {
        margin: 10px;
    }



/* season card*/
/*.seasonCard {
    height: 0px;
    width:200px;
    background-color: white;
    color:black;
    float:left;
    margin: 5px;
    position:relative;
    left:-150px;
}


*/


.hrefbtn {
    border: unset;
    background: unset;
    text-decoration: underline;
    cursor: pointer;
    color: indianred;
}



/*Homepage CSS*/


.cardsOL > .card {
    height: 300px;
    min-width: inherit;
    padding: 10px;
    margin: 0 3px;
}

.card:hover {
    background-color: grey;
    opacity: 0.5;
}

.card:hover .goToPage {
    visibility: visible;
}

.goToPage {
    visibility: hidden;
    margin: 0px auto;
    color:white;
}

.card > img {
    height: 50%;
    width: auto;
}

.cardsOL {
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 90%;
    display: inline-flex;
    flex-direction: row;
    padding: 0px
}

h4 {
    border: 3px solid white;
    text-align: center;
    color: white
}


/* General */
div > img {
    height: 100%;
    width: 100%;
}
