.chapterImg {
	border-radius: 20px;
}

.episodeCard p {
	text-align: left;
}

.episodeCard > div {
	float: left;
	height: 100%;
	margin: 15px;
}

.episodeCard {
	width: 100%;
	height: auto;
	flex-direction: row;
	background-color: transparent;
}

.info {
	width: 70%;
}


/*heart*/


.heart {
	background-color: transparent;
	color: white;
	border: none;
}

.heart:hover {
	font-size: 25px;
	color: red;
	animation: beat .2s infinite alternate;
	transform-origin: center;
	border: none;
	background-color: transparent;
}

	.heart:hover > i {
		animation: pulse 2s;
	}
/* Heart beat animation*/
@keyframes beat {
	to {
		transform: scale(1.4);
	}
}

.red-heart, .red-heart:hover {
	background-color: transparent;
	color: red;
	font-size: 25px;
	border: none;
}



@keyframes pulse {
	0% {
		color: white;
	}

	100% {
		color: #FF4136;
	}
}

body {
	background: linear-gradient(to left, #370606,#701c1c,#370606)
}

ol {
	padding: 5px;
}

.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-image: url('../Images/Bean Eater-0.9s-210px.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
}